/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(250, 108, 108);
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px dashed black;
}

/* HEADER */

header {
  background-color: aqua;
}

.main-header {
  padding: 10px;
}

header .container {
  display: flex;
  background-color: orange;
  padding: 5px;
}

.main-header div {
  flex-grow: 1;
  min-height: 2px;
}

.container .link {
  text-align: center;
  border-left: 2px dashed black;
  border-right: 2px dashed black;
}

.container .login {
  text-align: end;
}

.second-header {
  padding: 40px 0;
  background-color: blue;
}

.container.container-small {
  max-width: 900px;
  height: 400px;
  background-color: purple;
}
