/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* UTILS */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(250, 108, 108);
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0px;
  border: 2px dashed black;
  display: flex;
}

/* div {
  border: 2px dashed black;
} */

/* HEADER */

header {
  background-color: aqua;
}

.main-header {
  padding: 10px;
}

header .container {
  background-color: orange;
  padding: 5px;
}

.main-header div {
  flex-grow: 1;
  min-height: 2px;
}

.container .link {
  text-align: center;
  border-left: 2px dashed black;
  border-right: 2px dashed black;
}

.container .login {
  text-align: end;
}

.second-header {
  padding: 40px 0;
  background-color: blue;
}

.container.container-small {
  max-width: 900px;
  height: 400px;
  background-color: purple;
}

/* MAIN */

.main-section {
  padding: 40px;
}

.div-left {
  width: 60%;
  height: 400px;
  border-right: 2px dashed black;
  border-left: 2px dashed black;
  background-color: aqua;
}

.div-right {
  flex-grow: 1;
  border-left: 2px dashed black;
  border-right: 2px dashed black;
  background-color: pink;
}

.container.reverse {
  flex-direction: row-reverse;
}

.container.container-big {
  height: 700px;
  background-color: green;
}

section:nth-of-type(even) {
  background-color: lightgrey;
}

/* FOOTER */

footer {
  background-color: rgb(43, 43, 43);
}

.top-footer {
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 2px solid white;
}

.top-footer .container {
  height: 400px;
}

.div-footer-left {
  width: 30%;
  border-right: 2px dashed black;
  background-color: pink;
}

.div-footer-right {
  padding: 0;
  display: flex;
  flex-grow: 1;
  background-color: aqua;
}

.div-footer-right div {
  border: 2px dashed white;
  flex-grow: 1;
}
